PORT=5000
CORS_ORIGIN=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=bizfonal.infotech@gmail.com
SMTP_PASS=gaxg iakg aevu wtal
FROM_EMAIL=bizfonal.infotech@gmail.com
RECIPIENT_EMAIL=bizfonal.infotech@gmail.com
