PORT=5000
CORS_ORIGIN=https://bizfonalweb.vercel.app
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=bizfonal.infotech@gmail.com
SMTP_PASS=gaxgiakgaevuwtal
FROM_EMAIL=bizfonal.infotech@gmail.com
RECIPIENT_EMAIL=bizfonal.infotech@gmail.com
